@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
  body {
    @apply box-border select-none overflow-hidden bg-blue-50 text-sm text-slate-500/80 max-lg:text-xs;
  }

  .news::nth-child(3) {
    @apply bg-red-200;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
